@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>Stylist @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Stylist @Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h3>
<h3>Clients:</h3>
<ul>
@if (@Model.Clients.Count == 0)
{
  <p>no clients found</p>
}
@foreach(var join in Model.Clients)
{
  <li>@join.Client.Name</li>
}
</ul>

<button type="button" class="btn btn-success" onclick="window.location.href = '/Stylists/Edit/@Model.StylistId'">Edit Stylist</button>
<button type="button" class="btn btn-info" onclick="window.location.href = '/Clients/Create'">Add Client</button>

<br><hr>
<button type="button" class="btn btn-warning" onclick="window.location.href = '/Stylists'">Back to Stylists</button>
