@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.Specialty)
    @Html.EditorFor(model => model.Specialty)
    <br>
    <input class="btn btn-success" type="submit" value="Save" />
}

<br><hr>
<button type="button" class="btn btn-warning" onclick="window.location.href = '/Stylists'">Back to Stylists</button>
